/* Element styles */
html {
    font-family: 'Roboto Condensed', sans-serif;
}
header {
    height: 9rem;
    background-color: red;
    border-bottom: 1rem solid black;
}

/* Class styles */
.pokePics {
    padding:10px;
}

.card-content {
    height: 9rem;
}

/* ID styles */
#logo {
    width: 600px;
    margin: 0px auto;
}

#pokeCards {
    margin-top: 7rem;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 1%;
}

#gameInfo {
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 5%;
}